@charset "utf-8";
#first-view {
  background-image: url(../img/background1.jpg);
  width: 100vw;
  height: 100vh;
  border: 1px solid;
  main {
    width: 100vw;
    height: 223px;
    display: flex;
    margin-top: 223px;
    margin-bottom: 186px;
    align-items: center;
    .change-background-cont {
      width: 100px;
      height: 45px;
      display: flex;
      transform: rotate(-90deg);
      button {
        border: none;
        background-color: transparent;
        color: $color1;
      }
    }
    .main-tit {
      color: $color1;

      p {
        font-family: Montserrat;
        font-size: 68px;
      }
    }
  }
  footer {
    width: 165px;
    height: 24px;
    margin-left: 28px;
    img {
      margin-right: 38px;
    }
    .icon-tw {
      width: 16px;
      height: 13px;
    }
    .icon-face {
      width: 8px;
      height: 18px;
    }
    .icon-naver {
      width: 14px;
      height: 14px;
    }
  }
}
