@charset "utf-8";
header {
  position: fixed;
  margin-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  .header-logo {
    margin-left: 80px;
    width: 142px;
    height: 23px;
  }
  .gnb-cont {
    .gnb-item-list {
      display: flex;
      .gnb-item {
        width: 98px;
        height: 72px;
        margin-left: 28px;
        color: $color1;
        overflow: hidden;
        h2 {
          color: $color1;
          width: 98px;
          height: 72px;
        }
        button {
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}
