@charset "utf-8";

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  font-family: 'notokr', sans-serif;
  box-sizing: border-box;
}
