#main {
  width: 50vw;
  height: auto;
  margin: 0 auto;
  .all-check-cont {
    display: flex;
    height: 30px;
    margin-bottom: 30px;
    line-height: 20px;
    position: relative;
    width: 800px;
    margin-left: 70px;
    &:hover {
      color: $naver-green;
    }
    .all-check {
      width: 1px;
      height: 1px;
      margin: 10px;
      margin-top: 8px;
      position: absolute;
      &::before {
        @include circle(20px, #999);
      }
      &:checked::before {
        @include circle(20px, #999);
        background-image: url(./pngegg.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.check-item-cont {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  .one {
    @include customCircle();
  }
  label {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    &:hover {
      color: $naver-green;
    }
  }
  .art-one {
    width: 500px;
    height: 100px;
    overflow: scroll;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #dadada;
    padding: 10px;
    h2 {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
